version: "3.8"

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    # restart: always
    ports:
      - "8080:80"
    volumes:
      # - ./nginx-conf:/etc/nginx/conf.d
      - ./static/Assets/:/usr/share/nginx/html:ro
  db:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      DATABASE_HOST: ${DB_HOST}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ./backend/database:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

